<div *ngIf="loaded" class="flex h-full">
    <div class="h-full max-w-sm bg-white rounded-lg p-6 shadow-xl mr-2">
        <h2>Users</h2>
        <mat-list class="max-h-[80vh] overflow-y-scroll">
            <mat-list-item [ngClass]="{ 'text-sky-400':c===selectedUser}" *ngFor="let c of users" (click)="onSelectUser(c)" class="hover:hover:text-sky-400 cursor-pointer">
                <mat-icon matListIcon>person</mat-icon>
                <span class="mr-2">{{ c.id }}</span>
                <span class="mr-2 break-all">{{ c.email }}</span>
            </mat-list-item>
        </mat-list>
    </div>
    <div *ngIf="selectedUser" class="flex-1 bg-white rounded-lg p-6 shadow-xl">
        <h2>{{ selectedUser.name }} Details</h2>
        <div><span>id: </span>{{ selectedUser.id }}</div>
        <div><span>name: </span>{{ selectedUser.name }}</div>
        <div><span>email: </span>{{ selectedUser.email }}</div>
        <div><span>body: </span>{{ selectedUser.body }}</div>
    </div>
</div>
<div *ngIf="!loaded">
    <mat-spinner></mat-spinner>
</div>